<footer>
    <div class="content footer-content">
        <a href="#" class="logo">
            <h3>ООО "КК "Капиталъ"</h3>
            <p>
                Dura lex, sed lex. Закон суров, но он Закон
            </p>
        </a>
        <div class="phone">
            8 (495) 142-47-57
        </div>
    </div>
</footer>

<script src="js/main.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script><!---slick slider---->
</body>
</html>