<header>
    <div class="content">
        <div class="header-content">
            <div class="header-left">
                <a href="#" class="logo">
                    <h3>ООО "КК "Капиталъ"</h3>
                    <p>
                        Dura lex, sed lex. Закон суров, но он Закон
                    </p>
                </a>
                <div class="legal-help">
                    <h4>
                        Юридическая помощь
                    </h4>
                    <span>
                        в Москве и области
                    </span>
                    <ul>
                        <li>Строжайшее соблюдение сроков</li>
                        <li>93% выигрышных дел</li>
                        <li>Полная прозрачность действий и процессов</li>
                        <li>Скидки для ветеранов и пенсионеров</li>
                    </ul>
                </div>
            </div>
            <div class="header-right" id="header-right">
                <div class="phone">
                    8 (495) 142-47-57
                </div>
                <div class="header-form">
                    <p>
                        Оставьте Ваш вопрос и номер телефона и юрист свяжется с Вами, чтобы ответить на него.<br>
                        Это бесплатно.
                    </p>
                    <form action="">
                        <div class="message-group">
                            <label for="message" class="label-message"></label>
                            <textarea name="message" cols="30" rows="10" placeholder="Ваш вопрос" id="message"></textarea>
                            <span class="separate-line"></span>
                        </div>
                        <div class="input-group">
                            <label for="tel" class="label-tel"></label>
                            <input type="tel" id="tel" placeholder="Ваш телефон">
                            <span class="separate-line"></span>
                        </div>
                        <button class="call-me">Оставить заявку</button>
                    </form>
                </div>
                <span class="separate-img"></span>
            </div>
            <div class="black-screen"></div>
            <div id="mobile-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>