@font-face {
  font-family:"Oswald bold";
  src: url("../fonts/oswald-bold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"Oswald extralight";
  src: url("../fonts/oswald-extralight.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"Oswald light";
  src: url("../fonts/oswald-light.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"Oswald medium";
  src: url("../fonts/oswald-medium.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"Oswald regular";
  src: url("../fonts/oswald-regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"Oswald semibold";
  src: url("../fonts/oswald-semibold.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"roboto condensed regular";
  src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"PT Sans regular";
  src: url("../fonts/PTSansRegular/ptsansregular.ttf") format("truetype");
  src: url("../fonts/PTSansRegular/ptsansregular.eot") format('truetype');
  src: url("../fonts/PTSansRegular/ptsansregular.woff") format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family:"PT Sans bold";
  src: url("../fonts/PTSansBold/ptsansbold.ttf") format("truetype");
  src: url("../fonts/PTSansBold/ptsansbold.eot") format('truetype');
  src: url("../fonts/PTSansBold/ptsansbold.woff") format('truetype');
  font-weight:normal;
  font-style:normal;
}