@media all {

  //-------------------global styles-------------------------------
  h1,h2,h3,h4,h5,h6,p {
    margin: 0;
  }
  input,textarea,button:focus {
    outline: none;
  }
  .content {
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  //-------------------global styles-------------------------------

  //----------------- header styles---------------------------------
  header {
    background: url("../img/jpg/header-bg.jpg") center no-repeat;
    height: 621px;
    background-size: cover;
    position: relative;
    .header-content {
      display: flex;
      width: 100%;
      .header-left {
        display: flex;
        flex-direction: column;
        width: 50%;
        .legal-help {
          color: #fff;
          margin-top: 50px;
          margin-left: 13px;
          h4 {
            font: normal 48px "Oswald regular";
          }
          span {
            font: normal 36px "Oswald regular";
          }
          ul {
            list-style: none;
            font: normal 24px "Oswald regular";
            margin: 50px 0 0;
            padding: 0;
            li {
              position: relative;
              padding-left: 40px;
              margin-bottom: 13px;
              &:before {
                content: '';
                position: absolute;
                background: url("../img/png/haammer.png") center no-repeat;
                width: 33px;
                height: 33px;
                left: -12px;
              }
            }
          }
        }
      }
      .header-right {
        color: #fff;
        width: 50%;
        box-sizing: border-box;
        border-left: 1px solid #fddc82;
        height: 621px;
        position: relative;
        z-index: 300;
        .separate-img {
          position: absolute;
          display: block;
          top: 50%;
          margin-top: -42px;
          left: -35px;
          background: url("../img/png/header-separate-icon.png") no-repeat;
          width: 67px;
          height: 74px;
        }
        .header-form {
          margin-top: 54px;
          margin-left: 43px;
          p {
            text-align: center;
            font: normal 18px "Oswald regular";
            margin: 0 auto;
            width: 76%;
            line-height: 24px;
          }
          form {

            input, textarea {
              outline: none;
              font: normal 18px "Oswald extralight";
              padding-left: 50px;
              padding-top: 11px;
              color: #fff;
              &:-ms-input-placeholder {
                color: #606060;
                font: normal 18px "Oswald extralight";
              }
              &:-moz-placeholder {
                color: #606060;
                font: normal 18px "Oswald extralight";
              }
              &::-webkit-input-placeholder {
                color: #606060;
                font: normal 18px "Oswald extralight";
              }
            }
            .message-group {
              position: relative;
              margin-top: 26px;
              margin-left: 35px;
              .label-message {
                background: url("../img/png/question-icon.png") no-repeat;
                width: 31px;
                height: 31px;
                display: block;
                position: absolute;
                top: 8px;
                left: 12px;
              }
              textarea {
                resize: none;
                background: none;
                border: 1px solid #fff;
                width: 421px;
                height: 200px;
                overflow: auto;
                border-radius: 28px;
              }
            }
            .input-group {
              position: relative;
              margin-left: 33px;
              margin-top: 10px;
              .separate-line {
                top: 37px;
              }
              .label-tel {
                display: block;
                background: url("../img/png/phone-icon.png") no-repeat;
                width: 26px;
                height: 26px;
                position: absolute;
                top: 8px;
                left: 12px;
              }
              input {
                background: none;
                border: 1px solid #fff;
                border-radius: 20px;
                width: 424px;
                padding-top: 6px;
                height: 36px;
              }
            }
          }
        }
      }
      .black-screen {
        background: rgba(0,0,0,0.5);
        position: absolute;
        right: 0;
        left: 50%;
        top: 0;
        bottom: 0;
        z-index: 200;
      }
    }
  }
  .separate-line {
    width: 400px;
    height: 1px;
    box-sizing: border-box;
    display: block;
    border-top: 1px solid #fff;
    position: absolute;
    top: 45px;
    left: 45px;
  }
  .logo {
    text-decoration: none;
    color: #fbd500;
    font: normal 45px "Oswald regular";
    text-align: left;
    margin-left: 45px;
    p {
      font-size: 30px;
      position: relative;
      left: -39px;
      top: -13px;
    }
  }
  .phone {
    font: normal 36px "Oswald semibold";
    color: #fff;
    text-align: right;
    margin-right: 14px;
    margin-top: 11px;
  }
  .call-me {
    font: normal 18px "Oswald light";
    color: #000;
    background: #fbd500;
    border: none;
    display: block;
    margin-top: 44px;
    padding: 8px 58px;
    border-radius: 33px;
    margin-left: 179px;
  }
  #mobile-btn {
    display: none;
  }
  //----------------- header styles---------------------------------

  //----------------- main styles-----------------------------------
  .callback {
    height: 320px;
    background: #2c2929;
    .callback-content {
      color: #fff;
      font: normal 48px "Oswald regular";
      .callback-title {
        margin-top: 7px;
      }
      .callback-description {
        font-size: 36px;
      }
      .callback-form {
        .input-group {
          input {
            padding-left: 15px;
            border: 1px solid #fff;
            background: none;
            width: 460px;
            height: 35px;
            margin: 0 33px;
            border-radius: 30px;
            color: #fff;
          }
        }
        button {
          margin: 39px auto 0;
        }
      }
    }
  }

  main {};
  .section-title {
    text-align: center;
    width: 100%;
    font: normal 36px "Oswald regular";
    color: #000;
    margin-top: 15px;
    margin-bottom: 5px;
    .border {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        display: block;
        &:nth-child(2){
          background: url("../img/png/libra.png") no-repeat;
          max-width: 31px;
          width: 100%;
          height: 31px;
          margin: 0 15px;
        }
        &:not(:nth-child(2)) {
          height: 2px;
          box-sizing: border-box;
          border-bottom: 2px solid #8a8a8a;
          max-width: 300px;
          width: 100%;
        }
      }
    }
  }
  .your-question {
    background: #fff;
    .question-content {
      .all-question {
        width: 100%;
        margin: 30px 0;
        &__title {
          text-align: center;
          font: normal 30px "Oswald regular";
          margin-bottom: 25px;
        }
        &__block {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .some-question {
            border: 1px solid #8c8c8c;
            box-sizing: border-box;
            width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span {
              display: block;
            }
            .jur-1 {
              background: url("../img/png/jur-1.png") center no-repeat;
            }
            .jur-2 {
              background: url("../img/png/jur-2.png") center no-repeat;
            }
            .jur-3 {
              background: url("../img/png/jur-3.png") center no-repeat;
            }
            .phys-1 {
              background: url("../img/png/phys-1.png") center no-repeat;
            }
            .phys-2 {
              background: url("../img/png/phys-2.png") center no-repeat;
            }
            .phys-3 {
              background: url("../img/png/phys-3.png") center no-repeat;
            }
            .phys-4 {
              background: url("../img/png/phys-4.png") center no-repeat;
            }
            .phys-5 {
              background: url("../img/png/phys-5.png") center no-repeat;
            }
            .phys-6 {
              background: url("../img/png/phys-6.png") center no-repeat;
            }
            .question-icon {
              width: 115px;
              height: 115px;
              border: 1px solid #fcdc2b;
              border-radius: 50%;
            }
            .question-description {
              text-align: center;
              font: normal 20.8px "Oswald regular";
              color: #000;
            }
          }
        }
        &__find {
          color: #000;
          font: normal 48px "Oswald semibold";
          text-align: center;
        }
        &_physical {
          margin-top: 0;
          .all-question__block {
            .some-question {
              margin-bottom: 50px;
            }
          }
        }
      }
    }
  }
  .law {
    background: url("../img/jpg/law.jpg") no-repeat;
    height: 552px;
    //убрать эту хуйню снизу
    //position: relative;
    margin-top: -23px;

    .law-content {
      color: #fff;
      font: normal 22px "Oswald regular";
      align-items: flex-start;
      .law-top {
        width: 100%;
        &__title {
          font-size: 42px;
          margin-left: 14px;
          max-width: 490px;
          width: 100%;
          line-height: 55px;
        }
        &__description {
          margin-left: 15px;
          margin-top: 17px;
          max-width: 430px;
          p {
            margin: 14px 0;
          }
        }
      }
      .law-bottom {
        display: flex;
        flex-wrap: wrap;
        width: 530px;
        justify-content: space-between;
        span {
          display: block;
          position: relative;
          font: normal 18px "Oswald regular";
          text-align: center;
          width: 50%;
          letter-spacing: 0.3px;
          margin: 35px 0;
          &:before {
            content: '';
            background: url("../img/png/haammer.png") no-repeat;
            width: 33px;
            height: 33px;
            position: absolute;
            left: 50%;
            margin-left: -16.5px;
            top: -35px;
          }
        }
      }
    }
  }
  .professional {
    background: #fff;
    .professional-content {
      padding-bottom: 77px;
      .professional-group {
        justify-content: space-between;
        width: 100%;
        display: flex;
        margin-top: 60px;
        &__block {
          box-sizing: border-box;
          z-index: 200;
         .pro-photo {
           border: 1px solid #000;
           position: relative;
           box-sizing: border-box;
           width: 350px;
           height: 360px;
           z-index: 200;
           img {
             z-index: 500;
             width: 350px;
             height: 360px;
             position: absolute;
             left: 20px;
             top: 20px;
           }
         }
         .pro-description {
           margin-top: 30px;
           margin-left: 25px;
            p {
              color: #000;
              font: normal 36px "Oswald medium";
              &:nth-child(2) {
                font-size: 24px;
              }
              &:nth-child(3) {
                font: normal 21px 'Oswald regular';
                span {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
  .step {
    .step-content {
      padding-bottom: 21px;
      .all-steps {
        display: flex;
        justify-content: space-between;
        margin-top: 94px;
        &__block {
          display: flex;
          flex-direction: column;
          width: 229px;
          &:nth-child(even) {
            margin-top: 176px;
          }
          .step-icon {
            width: 229px;
            height: 227px;
          }
          .step-description {
            font: normal 22px "PT Sans bold";
            color: #333;
            text-align: center;
            margin-top: 18px;
          }
          .step-one {
            background: url("../img/png/step-1.png") no-repeat;
          }
          .step-two {
            background: url("../img/png/step-2.png") no-repeat;
          }
          .step-three {
            background: url("../img/png/step-3.png") no-repeat;
          }
          .step-four {
            background: url("../img/png/step-4.png") no-repeat;
          }
          .step-five {
            background: url("../img/png/step-5.png") no-repeat;
          }
        }
      }
    }
  }
  .example {
    .example-content {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-bottom: 40px;
      .example-group {
        position: relative;
        margin-top: 57px;
        max-width: 935px;
        width: 100%;
        .one-example {
          color: #000;
          font: normal 25px "PT Sans regular";
          margin: 0 auto;
          border: 2px solid #3f3f3f;
          span {
            display: block;
            max-width: 935px;
            width: 100%;
            box-sizing: border-box;
            padding: 0 15px;
          }
        }
        .slick-arrow {
          width: 91px;
          height: 91px;
          outline: none;
          font-size: 0;
          border: none;
          position: absolute;top: 50%;
          margin-top: -96px;
          z-index: 8000;
        }
        .slick-next {
          background: url("../img/png/right-arrow.png") no-repeat;
          right: -105px;
        }
        .slick-prev {
          background: url("../img/png/left-arrow.png") no-repeat;
          left: -105px;
        }
        .slick-dots {
          margin-top: 10px;
          list-style: none;
          display: flex;
          justify-content: center;
          margin-bottom: 0;
          padding: 0;
          .slick-active {
            button {
              background: url("../img/png/dot-active.png") no-repeat;
              width: 15px;
              height: 15px;
            }
          }
          li {
            display: inline-block;
            margin: 0 5px;
            button {
              font-size: 0;
              border: none;
              background: url("../img/png/dot.png") no-repeat;
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }
  }
  //----------------- main styles-----------------------------------

  //------------------footer styles--------------------------------
  footer {
    background: url("../img/jpg/header-bg.jpg") center no-repeat;
    height: 155px;
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  //------------------footer styles--------------------------------
}

@media screen and (max-width: 1190px) {

  //----------------- header styles---------------------------------
  header {

    .header-content {

      .header-left {
        width: 42%;
        .logo {
          margin-left: 0;
          font-size: 40px;
          p {
            font-size: 25px;
            left: 0;
          }
        }
      }
      .header-right {
        .header-form {
          form {
            .message-group {
              textarea {
                max-width: 421px;
                width: 100%;
              }
            }
            .input-group {
              input {
                max-width: 424px;
                width: 100%;
              }
            }
          }
        }
      }
      .black-screen {
        left: 42%;
      }
    }
  }
  //----------------- header styles---------------------------------


  //----------------- main styles-----------------------------------
  .callback {

    .callback-content {

      .callback-title {
        font-size: 40px;
        text-align: center;
      }
      .callback-description {
        font-size: 26px;
        text-align: center;
      }
      .callback-form {
        width: 100%;
        .input-group {
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: space-around;
          input {
            margin: 8px 0;
            max-width: 460px;
            width: 100%;
          }
        }
        button {
          margin-top: 14px;
        }
      }
    }
  }
  .your-question {
    .question-content {
      .all-question {
        &__block {
         flex-wrap: nowrap;
          .some-question {
            max-width: 350px;
            width: 100%;
            margin: 0 10px;
          }
        }
        &_physical {
          .all-question__block {
            flex-wrap: wrap;
            justify-content: space-around;
          }
        }
      }
    }
  }
  .step {
    .step-content {

      .all-steps {
        width: 100%;
        justify-content: space-around;
        &__block {
          width: 150px;
          &:nth-child(even) {
            margin-top: 0;
          }
          .step-icon {
            background-size: contain;
            height: 150px;
            width: auto;
          }
          .step-description {

          }
        }
      }
    }
  }
  .example {
    .example-content {

      .example-group {
        max-width: 700px;

      }
    }
  }
  .professional {

    .professional-content {

      .professional-group {
        justify-content: space-around;
        &__block {

          .pro-photo {
            width: 250px;
            height: 260px;
            img {
              width: 250px;
              height: 260px;
            }
          }
          .pro-description {

            p {
              font-size: 24px;
              &:nth-child(2) {
                font-size: 18px;
              }
              &:nth-child(3) {
                font-size: 14px;
                span {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
  //----------------- main styles-----------------------------------

}

@media screen and (max-width: 980px) {
  //----------------- header styles---------------------------------
  header {
    .content {
      padding: 0 0 0 15px;
    }
    .header-content {
      position: relative;
      overflow: hidden;
      height: 621px;
      .header-left {
        width: 100%;
        z-index: 300;
        .logo {
          margin-left: 0;
          font-size: 40px;
          p {
            font-size: 25px;
            left: 0;
          }
        }
      }
      .header-right {
        transition: all .5s ease-in-out;
        position: absolute;
        right: -459px;
        background: rgba(0,0,0,0.9);
        width: 460px;
        z-index: 8888;
        .header-form {
          margin-left: 0;
          padding-right: 25px;
          form {
            .separate-line {
             display: none;
            }
            .message-group {
              textarea {
                box-sizing: border-box;
              }
            }
            .input-group {
              .label-tel {
                top: 6px;
              }
              input {
                box-sizing: border-box;
              }
            }
            button {
              margin: 30px auto 0;
            }
          }
        }
      }
      .mobile-version {
        right: 0;
      }
      .black-screen {
        display: none;
      }
    }
  }
  #mobile-btn {
    z-index: 9999;
    display: block;
    width: 60px;
    height: 45px;
    position: relative;
    top: 70px;
    left: -5px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #mobile-btn span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #fbd500;;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #mobile-btn span:nth-child(1) {
    top: 0px;
  }
  #mobile-btn span:nth-child(2) {
    top: 18px;
  }
  #mobile-btn span:nth-child(3) {
    top: 36px;
  }
  #mobile-btn.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  #mobile-btn.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  #mobile-btn.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  //----------------- header styles---------------------------------


  //----------------- main styles-----------------------------------
  .callback {

    .callback-content {

      .callback-title {
        font-size: 36px;
      }
      .callback-description {
        font-size: 24px;
      }
    }
  }
  .professional {

    .professional-content {

      .professional-group {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
        &__block {
          margin-bottom: 35px;
        }
      }
    }
  }
  .example {
    .example-content {

      .example-group {
        max-width: 500px;
        text-align: justify;
        .slick-arrow {
          background-size: contain;
          width: 55px;
          height: 55px;
        }
        .slick-next {
          right: -70px;
        }
        .slick-prev {
          left: -70px;
        }
      }
    }
  }
  //----------------- main styles-----------------------------------

  //------------------footer styles--------------------------------
  footer {
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      .logo {
        font-size: 30px;
        p {
          font-size: 22px;
        }
      }
      .phone {
        font-size: 30px;
      }
    }
  }
  //------------------footer styles--------------------------------
}

@media screen and (max-width: 768px) {
  //----------------- header styles---------------------------------
  header {
    .content {

    }
    .header-content {
      .header-left {

        .logo {
          text-align: center;
        }
        .legal-help {
          margin-left: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
  //----------------- header styles---------------------------------


  //----------------- main styles-----------------------------------
  .your-question {
    .question-content {
      .all-question {
        &__block {
          flex-direction: column;
          align-items: center;
          .some-question {
            margin-bottom: 50px;
          }
        }
        &_physical {
          .all-question__block {

          }
        }
      }
    }
  }
  .law {
    .law-content {
      align-items: center;
      .law-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title {
          text-align: center;
        }
        &__description {
          max-width: 600px;
          width: 100%;
        }
      }
      .law-bottom {
        margin-top: 35px;
      }
    }
  }
  .step {
    .step-content {

      .all-steps {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        &__block {
          margin-bottom: 50px;
        }
      }
    }
  }
  .callback {
    height: 100%;
    padding-bottom: 20px;
  }
  //----------------- main styles-----------------------------------

  //------------------footer styles--------------------------------
  footer {
    .footer-content {
      justify-content: center;
      .logo {
        margin-left: 0;
        h3 {
          text-align: center;
        }
        p {
          left: 0;
        }
      }
      .phone {
        display: none;
      }
    }
  }
  //------------------footer styles--------------------------------
}

@media screen and (max-width: 650px) {
  //----------------- header styles---------------------------------

  //----------------- header styles---------------------------------


  //----------------- main styles-----------------------------------
  .example {
    .example-content {
      padding-bottom: 80px;
      .example-group {
        width: 100%;
        margin: 20px 10px 0;
        .one-example {
          font-size: 18px;
        }
        .slick-arrow {
          bottom: -65px;
          top: auto;
        }
        .slick-next {
          right: 75px;
        }
        .slick-prev {
          left: 75px;
        }
      }
    }
  }
  //----------------- main styles-----------------------------------

  //------------------footer styles--------------------------------

  //------------------footer styles--------------------------------
}

@media screen and (max-width: 550px){
  //----------------- header styles---------------------------------
  header {
    .content {
      padding: 0;
    }
    .header-content {
      #mobile-btn {
        top: 47px;
      }
      .header-left {
        .logo {
          font-size: 22px;
          p {
            font-size: 16px;
            margin-top: 10px;
          }
        }
        .legal-help {
          margin-top: 130px;
          h4 {
            font-size: 26px;
          }
          span {
            font-size: 24px;
          }
          ul {
            font-size: 16px;
            li {
              padding-left: 30px;
              margin-left: 20px;
            }
          }
        }
      }
      .header-right {
        right: -459px;
        max-width: 460px;
        width: 100%;
        .phone {
          font-size: 26px;
        }
        .header-form {
          p {
            font-size: 16px;
            text-align: left;
          }
          form {
            .message-group {
              textarea {
                width: 300px;
              }
            }
            .input-group {
              input {
                width: 300px;
              }
            }
          }
        }
      }
      .mobile-version {
        right: 0;
      }
    }
  }
  //----------------- header styles---------------------------------


  //----------------- main styles-----------------------------------
  .section-title {
    font-size: 20px;
  }
  .your-question {
    .question-content {
      .all-question {
        &__find {
          font-size: 30px;
        }
      }
    }
  }
  .law {
    .law-content {
      font-size: 16px;
      justify-content: space-around;
      height: 552px;
      .law-top {
        &__title {
          font-size: 24px;
        }
        &__description {
          max-width: 600px;
          width: 100%;
        }
      }
      .law-bottom {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
        margin-top: 0;
        span {
          width: auto;
          margin: 10px 0 0 50px;
          text-align: left;
          &:before {
            left: -43px;
            margin-left: 0;
            top: 0;
          }
        }
      }
    }
  }
  //----------------- main styles-----------------------------------

  //------------------footer styles--------------------------------

  //------------------footer styles--------------------------------
}

@media screen and (max-width: 350px) {
  header {
    .header-content {
      .header-right {
        .header-form {
          form {
            .message-group {
              textarea {
                width: 260px;
              }
            }
            .input-group {
              input {
                width: 260px;
              }
            }
          }
        }
      }
      .mobile-version {
        right: 0;
      }
    }
  }

  .callback {
    .callback-content {
      .callback-title {
        font-size: 24px;
      }
      .callback-description {
        font-size: 16px;
      }
    }
  }
}