//= template/head.html
//= template/header.html

<main>
    <section class="your-question">
        <div class="content">
            <div class="question-content container">
                <div class="section-title">
                    <h3>Из какой юридической области Ваш вопрос?</h3>
                    <div class="border"><span></span><span></span><span></span></div>
                </div>
                <div class="all-question">
                    <div class="all-question__title">
                        Юридическим лицам
                    </div>
                    <div class="all-question__block">
                        <div class="some-question">
                            <span class="question-icon jur-1"></span>
                            <span class="question-description">
                                Юр. лицо: регистрация, перерегистрация,
                                внесение изменений
                            </span>
                        </div>
                        <div class="some-question">
                            <span class="question-icon jur-2"></span>
                            <span class="question-description">
                               Сопровождение сделки
                            </span>
                        </div>
                        <div class="some-question">
                            <span class="question-icon jur-3"></span>
                            <span class="question-description">
                               Абонентское обслуживание
                            </span>
                        </div>
                    </div>
                </div>
                <div class="all-question all-question_physical">
                    <div class="all-question__title">
                       Физическим лицам
                    </div>
                    <div class="all-question__block">
                        <div class="some-question">
                            <span class="question-icon phys-1"></span>
                            <span class="question-description">
                               Защита прав на интеллектуальную
                                собственность
                            </span>
                        </div>
                        <div class="some-question">
                            <span class="question-icon phys-2"></span>
                            <span class="question-description">
                               Споры со страховыми компаниями
                            </span>
                        </div>
                        <div class="some-question">
                            <span class="question-icon phys-3"></span>
                            <span class="question-description">
                               Оспаривание кадастровой стоимости земельных участков
                            </span>
                        </div>

                        <div class="some-question">
                            <span class="question-icon phys-4"></span>
                            <span class="question-description">
                               Споры с застройщиками
                            </span>
                        </div>
                        <div class="some-question">
                            <span class="question-icon phys-5"></span>
                            <span class="question-description">
                               Составление исковых заявлений и претензий
                            </span>
                        </div>
                        <div class="some-question">
                            <span class="question-icon phys-6"></span>
                            <span class="question-description">
                               Защита прав потребителей
                            </span>
                        </div>
                    </div>
                    <div class="all-question__find">
                        Вы нашли то, что искали!
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="law">
        <div class="content">
            <div class="law-content container">
                <div class="law-top">
                    <div class="law-top__title">
                        Вам не нужно ломать голову
                        над тем, что делать и как
                    </div>
                    <div class="law-top__description">
                        <p>
                            Мы потратили годы для того, чтобы
                            всегда добиваться результата
                        </p>
                        <p>
                            Мы знаем, как действовать в ситуации любой
                            сложности
                        </p>
                        <p>
                            Мы выигрываем 93% дел и Ваше дело не станет
                            исключением
                        </p>
                    </div>
                </div>
                <div class="law-bottom">
                    <span>Строжайшее соблюдение сроков</span>
                    <span>Полная конфиденциальность данных</span>
                    <span>Общение на доступном языке</span>
                    <span>Реагирование в течении 1 часа</span>
                </div>
            </div>
        </div>
    </section>

    <section class="callback">
        <div class="content">
            <div class="callback-content container">
                <div class="callback-title">
                    Не теряйте время. Задайте Ваш вопрос сейчас
                </div>
                <div class="callback-description">
                    Оставьте заявку и юрист перезвонит, чтобы ответить на неё. Это бесплатно
                </div>
                <form class="callback-form">
                    <div class="input-group">
                        <input type="text" placeholder="Ваше имя">

                        <input type="tel" placeholder="Ваш телефон">
                    </div>
                    <button class="call-me">Оставить заявку</button>
                </form>
            </div>
        </div>
    </section>

    <section class="professional">
        <div class="content">
            <div class="professional-content container">
                <div class="section-title">
                    <h3>Вам помогают профессионалы</h3>
                    <div class="border"><span></span><span></span><span></span></div>
                </div>
                <div class="professional-group">
                    <div class="professional-group__block">
                        <div class="pro-photo">
                            <img src="img/jpg/alekseeva.jpg" alt="Алексеева Ольга">
                        </div>
                        <div class="pro-description">
                            <p>Алексеева Ольга</p>
                            <p>Юрист</p>
                            <p>
                                <span>Более 10 лет опыта работы</span>
                                <span>Защита прав потребителей</span>
                                <span>Споры со страховыми компаниями</span>
                            </p>
                        </div>
                    </div>
                    <div class="professional-group__block">
                        <div class="pro-photo">
                            <img src="img/jpg/nikolskiy.jpg" alt="Никольский Анатолий">
                        </div>
                        <div class="pro-description">
                            <p>Никольский Анатолий</p>
                            <p>Юрист</p>
                            <p>
                                <span>Более 5 лет опыта работы</span>
                                <span>Любые операции с ООО и ИП</span>
                                <span>Представительство в суде</span>
                            </p>
                        </div>
                    </div>
                    <div class="professional-group__block">
                        <div class="pro-photo">
                            <img src="img/jpg/gricenko.jpg" alt="Гриценко Александра">
                        </div>
                        <div class="pro-description">
                            <p>Гриценко Александра</p>
                            <p>Юрист</p>
                            <p>
                                <span>Более 7 лет опыта работы в крупных компаниях</span>
                                <span>Абонетское обслуживание компаний</span>
                                <span>Представительство в суде</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="callback">
        <div class="content">
            <div class="callback-content container">
                <div class="callback-title">
                    Мы знаем ответ на ваш вопрос
                </div>
                <div class="callback-description">
                    Оставьте заявку и юрист перезвонит, чтобы ответить на неё. Это бесплатно
                </div>
                <form class="callback-form">
                    <div class="input-group">
                        <input type="text" placeholder="Ваше имя">
                        <input type="tel" placeholder="Ваш телефон">
                    </div>
                    <button class="call-me">Оставить заявку</button>
                </form>
            </div>
        </div>
    </section>

    <section class="step">
        <div class="content">
            <div class="step-content container">
                <div class="section-title">
                    <h3>Юридическая помощь по шагам</h3>
                    <div class="border"><span></span><span></span><span></span></div>
                </div>
                <div class="all-steps">
                    <div class="all-steps__block">
                        <p class="step-icon step-one"></p>
                        <p class="step-description">Обращение</p>
                    </div>
                    <div class="all-steps__block">
                        <p class="step-icon step-two"></p>
                        <p class="step-description">Личная встреча в офисе</p>
                    </div>
                    <div class="all-steps__block">
                        <p class="step-icon step-three"></p>
                        <p class="step-description">Заключение договора</p>
                    </div>
                    <div class="all-steps__block">
                        <p class="step-icon step-four"></p>
                        <p class="step-description">Составление заявления или претензии</p>
                    </div>
                    <div class="all-steps__block">
                        <p class="step-icon step-five"></p>
                        <p class="step-description">Вы довольны полученным результатом</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="callback">
        <div class="content">
            <div class="callback-content container">
                <div class="callback-title">
                    Хотите решить вашу ситуацию?
                </div>
                <div class="callback-description">
                    Начните с бесплатной консультации. Оставьте заявку и юрист перезвонит Вам.
                </div>
                <form class="callback-form">
                    <div class="input-group">
                        <input type="text" placeholder="Ваше имя">
                        <input type="tel" placeholder="Ваш телефон">
                    </div>
                    <button class="call-me">Оставить заявку</button>
                </form>
            </div>
        </div>
    </section>

    <section class="example">
        <div class="content">
            <div class="example-content container">
                <div class="section-title">
                    <h3>Посмотрите на примеры успешных дел</h3>
                    <div class="border"><span></span><span></span><span></span></div>
                </div>
                <div class="example-group">
                    <div class="one-example">
                        <span>
                            Гражданка В. обратилась за юридической помощью, в связи с тем,
                        что чередой сделок в ее квартире недобросовестными гражданами была приобретена 1/3 доля в квартире.
                        На протяжении почти 3-х лет истец безуспешно пыталась доказать в действиях выше указанных граждан
                        наличие состава преступления и возбудить уголовное дело. Весь этот период истец не имела возможности
                        попасть в собственную квартиру, так как  недобросовестными гражданами, которые приобрели право
                        собственности на долю, был произведен захват квартиры. Замки были сменены. Полиция бездействовала.
                        Юристом по делу было принято правильное решение в судебном порядке в рамках гражданско-правовых отношений
                        признать 1/3 долю в квартире малозначительной, обязать ответчиков продать данную долю по цене,
                        определенной независимой экспертизой и признать право собственности на всю квартиру за истцом.
                        Апелляционным определением Московского городского суда по данному гражданскому делу  были восстановлены
                        нарушенные права истца.
                        </span>
                    </div>
                    <div class="one-example">
                        <span>
                            Гражданка В. обратилась за юридической помощью, в связи с тем,
                        что чередой сделок в ее квартире недобросовестными гражданами была приобретена 1/3 доля в квартире.
                        На протяжении почти 3-х лет истец безуспешно пыталась доказать в действиях выше указанных граждан
                        наличие состава преступления и возбудить уголовное дело. Весь этот период истец не имела возможности
                        попасть в собственную квартиру, так как  недобросовестными гражданами, которые приобрели право
                        собственности на долю, был произведен захват квартиры. Замки были сменены. Полиция бездействовала.
                        Юристом по делу было принято правильное решение в судебном порядке в рамках гражданско-правовых отношений
                        признать 1/3 долю в квартире малозначительной, обязать ответчиков продать данную долю по цене,
                        определенной независимой экспертизой и признать право собственности на всю квартиру за истцом.
                        Апелляционным определением Московского городского суда по данному гражданскому делу  были восстановлены
                        нарушенные права истца.
                        </span>
                    </div>
                    <div class="one-example">
                        <span>
                            Гражданка В. обратилась за юридической помощью, в связи с тем,
                        что чередой сделок в ее квартире недобросовестными гражданами была приобретена 1/3 доля в квартире.
                        На протяжении почти 3-х лет истец безуспешно пыталась доказать в действиях выше указанных граждан
                        наличие состава преступления и возбудить уголовное дело. Весь этот период истец не имела возможности
                        попасть в собственную квартиру, так как  недобросовестными гражданами, которые приобрели право
                        собственности на долю, был произведен захват квартиры. Замки были сменены. Полиция бездействовала.
                        Юристом по делу было принято правильное решение в судебном порядке в рамках гражданско-правовых отношений
                        признать 1/3 долю в квартире малозначительной, обязать ответчиков продать данную долю по цене,
                        определенной независимой экспертизой и признать право собственности на всю квартиру за истцом.
                        Апелляционным определением Московского городского суда по данному гражданскому делу  были восстановлены
                        нарушенные права истца.
                        </span>
                    </div>
                    <div class="one-example">
                        <span>
                            Гражданка В. обратилась за юридической помощью, в связи с тем,
                        что чередой сделок в ее квартире недобросовестными гражданами была приобретена 1/3 доля в квартире.
                        На протяжении почти 3-х лет истец безуспешно пыталась доказать в действиях выше указанных граждан
                        наличие состава преступления и возбудить уголовное дело. Весь этот период истец не имела возможности
                        попасть в собственную квартиру, так как  недобросовестными гражданами, которые приобрели право
                        собственности на долю, был произведен захват квартиры. Замки были сменены. Полиция бездействовала.
                        Юристом по делу было принято правильное решение в судебном порядке в рамках гражданско-правовых отношений
                        признать 1/3 долю в квартире малозначительной, обязать ответчиков продать данную долю по цене,
                        определенной независимой экспертизой и признать право собственности на всю квартиру за истцом.
                        Апелляционным определением Московского городского суда по данному гражданскому делу  были восстановлены
                        нарушенные права истца.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="callback">
        <div class="content">
            <div class="callback-content container">
                <div class="callback-title">
                    Ваше дело будет таким же успешным
                </div>
                <div class="callback-description">
                    Начните с бесплатной консультации. Оставьте заявку и юрист перезвонит Вам
                </div>
                <form class="callback-form">
                    <div class="input-group">
                        <input type="text" placeholder="Ваше имя">
                        <input type="tel" placeholder="Ваш телефон">
                    </div>
                    <button class="call-me">Оставить заявку</button>
                </form>
            </div>
        </div>
    </section>
</main>


//= template/footer.html


